{
    "parser": "@typescript-eslint/parser",
    "parserOptions": { "project": ["./tsconfig.json"] },
    "plugins": ["simple-import-sort"],
    "extends": ["plugin:prettier/recommended", "prettier"],
    "ignorePatterns": [".eslintrc", "scripts", "dist"],
    "rules": {
        "simple-import-sort/imports": "warn",
        "simple-import-sort/exports": "warn"
    }
}
